:root{
  --dark-cyan: hsl(185, 75%, 39%);
  --desaturated-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
  --dark-gray-opacity: hsla(0, 0%, 59%, 0.24);
  --white: #fff;

  --font-size: 14px;
  --line-height: 20px;

  --font-size-lg: 18px;
  --line-height-lg: 24px;

  --font-family: 'Kumbh Sans', sans-serif;

  --padding: 2rem;
  --border-radius: 1rem;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body{
  min-height: 100vh;
  height: 100%;
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--dark-gray);

  background-color: var(--dark-cyan);
}

body{
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 44vh, left 48vw top 40vh;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

h1{
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);

  padding-bottom: .5rem;
  padding-top: 3rem;
}

.main-container{
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--padding);
}

.card{
  min-width: 300px;
  background-color: var(--white);
  text-align: center;
  border-radius: var(--border-radius);

  -webkit-box-shadow: 0px 0px 100px 10px rgb(0 0 0 / 16%);
          box-shadow: 0px 0px 100px 10px rgb(0 0 0 / 16%);
}

  .card-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr) );
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--white);
    
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .card-header{
    overflow: hidden;
  }

    .card-header > img{
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

      .card-avatar{
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
      }

        .card-avatar > img{
          border: .4rem solid var(--white);
          border-radius: 50%;
          width: 100%;
        }

    .card-content{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      padding: var(--padding);
    }

      .card-user{
        color: var(--desaturated-blue);
        display: inline-block;
      }

      .card-number{
        font-weight: 400;
        display: inline-block;
      }  

    .card-footer{
      border-top: 1px solid var(--dark-gray-opacity);
      padding: var(--padding);
    }

      ul.card-metrics{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
      }

        .metric-value{
          display: block;
          font-weight: 700;
          color: var(--desaturated-blue);
        }

        .metric-title{
          display: block;
          letter-spacing: 1px;
          font-size: calc(var(--font-size) / 1.3);
        }

@media screen and (min-width: 992px){
  body{
    background-position: right 48vw bottom 44vh, left 50vw top 50vh;
  }
}